* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#head-img {
    margin: 15px 0;
    height: 200px;
}
#content  {
    display: flex;
}

nav {
    height: 40px;
    border-top: solid #00000018 2px;
    border-bottom: solid #00000046 2px;
}

ul {
    text-align: center;
}

.nav {
    display: inline-block;
    font-size: 25px;
    padding: 6px 15px;
}

main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

article {
    background-color: #8686862f;
    width: 48%;
    margin: 1%;
    text-align: justify;
}

h1 {
    text-align: center;
    margin: 10px;
}

.img-article {
    width: 100%;
}

p {
    padding: 10px 30px;
}

aside {
    width: 18%;
    margin: 1%;
    text-align: center;
}

h2 {
    background-color: #8686862f;
}

.article-content {
    padding: 10px;
    border-bottom: gray solid 1px;
}

h3 {
    margin-top: 10px;
}
