* {
    margin: 0;
    padding: 0;
}

#content  {
    display: flex;
}

header {
    background-color: rgb(116, 113, 110);
    height: 180px;
}

nav {
    background-color: black;
    height: 50px;
}

ul {
    text-align: center;
}

.nav {
    display: inline-block;
    color: white;
    font-size: 25px;
    padding: 10px 15px;
}

main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

article {
    background-color: #b1afaf50;
    border: solid gray 2px;
    width: 46%;
    margin: 1%;
    text-align: center;
    padding: 5px;
}

h1 {
    margin: 5px 0;
}

img {
    margin: 5px 0;
    width: 100%;
}

p {
    margin: 5px 0;
}

aside {
    display: inline-block;
    width: 18%;
    background-color: #91a1a760;
    border: solid gray 2px;
    margin: 1%;
    text-align: center;
    height: 100%;
}

.article-content {
    padding: 10px;
    list-style: none;
    border: gray solid 1px;
}
